
<div class="container">
    <div class="row m-5">
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre Empresa</th>
        <th scope="col">Direccion</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
      
        <td>{{empresa.id}}</td>
        <td>{{empresa.nombreempresa}}</td>
        <td>{{empresa.direccion}}</td>
      </tr>
      <tr>
        <td> <button class=" btn btn-success" [routerLink]="['/home']">Volver</button></td>
      </tr>
      
    </tbody>
  </table>
</div></div>